<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.mycompany.app.infra.codegroup.CodeGroupMapper">  

    <resultMap id="resultMapObj" type="com.mycompany.app.infra.codegroup.CodeGroup"></resultMap>
    
    <sql id="abc">
    	ifcgSeq
    	,ifcgName
    	,ifcgDelNy
    </sql>
    
   	<select id="selectList" resultMap="resultMapObj">
   		SELECT
			<include refid="abc" />
   		FROM
   			infrCodeGroup
		WHERE 1=1
			<if test="shKeyword != null and !shKeyword.equals('')">AND ifcgName LIKE CONCAT('%',#{shKeyword},'%')</if>		
   	</select>
   	
   	<select id="selectOne" resultMap="resultMapObj">
   		SELECT
			<include refid="abc" />
   		FROM
   			infrCodeGroup
		WHERE 1=1
			AND ifcgSeq = #{ifcgSeq}	
   	</select>   	
   	
   	<update id="update">
   		UPDATE infrCodeGroup
   		SET
   			ifcgName = #{ifcgName}
		WHERE
			ifcgSeq = #{ifcgSeq}	
   	</update>   	
   	
   	<delete id="delete">
   		delete from infrCodeGroup WHERE ifcgSeq = #{ifcgSeq}	
   	</delete>   	
   	
   	<update id="uelete">
   		UPDATE infrCodeGroup
   		SET
   			ifcgDelNy = 1
		WHERE
			ifcgSeq = #{ifcgSeq}	
   	</update>   	
   	
   	<insert id="insert">
   		INSERT INTO infrCodeGroup (
   			ifcgName
   			,ifcgDelNy
   		) values (
   		   	#{ifcgName}
   			,0
   		)
   	</insert>   	

</mapper>    